<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.graduation.mapper.OrderMapper">
    <resultMap id="BaseResultMap" type="com.graduation.bean.Order">
        <!--@mbg.generated-->
        <!--@Table t_order-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="sid" jdbcType="BIGINT" property="sid"/>
        <result column="bid" jdbcType="BIGINT" property="bid"/>
        <result column="borrow_time" jdbcType="TIMESTAMP" property="borrowTime"/>
        <result column="return_time" jdbcType="TIMESTAMP" property="returnTime"/>
        <result column="real_rent" jdbcType="DECIMAL" property="realRent"/>
        <result column="cash" jdbcType="DECIMAL" property="cash"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="del" jdbcType="BOOLEAN" property="del"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        sid,
        bid,
        borrow_time,
        return_time,
        real_rent,
        cash,
        state,
        remark,
        del,
        create_time,
        update_time
    </sql>

    <select id="page" resultType="com.graduation.dto.resp.OrderPageResp">
        SELECT o.id          id,
               o.sid         sid,
               o.bid         bid,
               s.`name`      studentName,
               b.`name`      bicycleName,
               o.borrow_time borrowTime,
               o.return_time returnTime,
               o.real_rent   realRent,
               o.cash        cash,
               o.state       state,
               o.remark      remark
        FROM t_order o,
             t_student s,
             t_bicycle b
        WHERE o.sid = s.id
          AND o.bid = b.id
          AND o.del = 0
          AND s.del = 0
          AND b.del = 0
        <if test="id != null">
            AND o.id = #{id}
        </if>
        <if test="sid != null">
            AND o.sid = #{sid}
        </if>
        <if test="bid != null">
            AND o.bid = #{bid}
        </if>
        <if test="studentName != null and studentName != ''">
            AND INSTR(s.name, #{studentName}) > 0
        </if>
        ORDER BY o.update_time DESC
    </select>
</mapper>