<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.graduation.mapper.StatisticsMapper">
    <select id="income" resultType="com.graduation.dto.resp.NameValueResp">
        select date_format(return_time, '%m.%d') name, sum(real_rent) value
        from t_order
        where state >= 2
          and date_format(return_time, '%Y-%m') = date_format(current_date(), '%Y-%m')
        group by name
    </select>

    <select id="currentMonthTotal" resultType="java.math.BigDecimal">
        select ifnull(sum(real_rent), 0) sumRent
        from t_order
        where state >= 2
          and date_format(return_time, '%Y-%m') = date_format(current_date(), '%Y-%m')
    </select>

    <select id="total" resultType="java.math.BigDecimal">
        select ifnull(sum(real_rent), 0) sumRent
        from t_order
        where state >= 2
    </select>
</mapper>