.current-time-blockquote {
    margin-top: 10px;
    margin-left: 30px;
    width: 250px;
}

.e-chart-1 {
    width: 500px;
    height: 300px;
    margin-left: 50px;
}

.e-chart-2 {
    width: 800px;
    height: 300px;
    margin-left: 50px;
}

.total {
    margin-top: 220px;
}