<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>主页详情</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <link rel="stylesheet" href="../static/css/statistics.css">
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>高校单车租赁管理系统</legend>
</fieldset>
<fieldset class="layui-elem-field current-time-blockquote">
    <legend>系统时间</legend>
    <div class="layui-field-box" id="current_date">
    </div>
</fieldset>
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md6 layui-col-xs6 layui-col-sm6 e-chart-1" id="bicycle"></div>
        <div class="layui-col-md6 layui-col-xs6 layui-col-sm6 e-chart-1" id="student"></div>
        <div class="layui-col-md10 layui-col-xs10 layui-col-sm10 e-chart-2" id="income"></div>
        <div class="layui-col-md2 layui-col-xs2 layui-col-sm2 total" id="total"></div>
    </div>
</div>
</body>
<script src="../static/layui/layui.js"></script>
<script src="../static/js/common/echarts.min.js"></script>
<script src="../static/js/statistics.js"></script>
</html>